%h1 Listing leagues

%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Manager
      %th Links

  %tbody
    - @leagues.each do |league|
      %tr
        %td= league.id
        %td= league.name
        %td= league.manager.full_name
        %td=
          link_to 'Show', league
          |
          link_to 'Edit', edit_league_path(league)
          |
          link_to 'Destroy', league, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New League', new_league_path
