.jumbotron
  .row
    .col-sm-2.col-xs-4
      = image_tag '/assets/yield.png', class: 'center-block img-responsive'
    .col-sm-8.col-xs-8
      %h2.text-center Administrator's Dashboard
    .col-sm-2.hidden-xs
      = image_tag '/assets/yield.png', class: 'center-block img-responsive'
