.page-header
  %h2 New week
= simple_form_for @admin_week, url: { controller: 'weeks', action: "create" }, html: {class: 'form-vertical'} do |f|

  .panel.panel-default
    .panel-body
      = render 'form', f: f
  .actions
    = button_tag type: 'submit', class: 'btn btn-success' do
      %span.glyphicon.glyphicon-edit
      Save
    = link_to 'Cancel', admin_weeks_path, class: 'btn btn-default'

